*
{
	margin:0;
	padding:0;
}
body
{
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	background:#ddd;
	color:#333;
}

a
{
	color:#c0392b;
	text-decoration:none;
}

.header
{
	width:100%;
	height:100px;
	background:#e74c3c;
	/*! box-shadow:0 0 8px #e74c3c; */
	line-height:100px;
	position: fixed;
	top: 0;
}

.header h3
{
	margin-left:20px;
	color:#fff;
	font-weight:700;
	font-size:1.7em;
	float:left;
}

.header h3 span
{
	font-weight:300;
}

.header ul
{
	max-width:60%;
	margin-right:10px;
	float:right;
}

.header li
{
	list-style:none;
	float:left;
	padding:0 15px;
	font-weight:400;
	font-size:1.2em;
	transition:all 0.2s linear;
	cursor:pointer;
}

.header li:hover
{
	color:#fff;
	background:#c0392b;
	border-bottom:5px solid #fff;
	margin-top:-5px;
	line-height:100px;
}

.cover
{
	height:75vh;
	color:#fff;
	width:100%;
	background:#c0392b;
	text-align:center;
	margin-top: 100px;
	color:#e74c3c;
}

.cover h3
{
	font-weight:700;
	padding-top:13%;
	font-size:3em;
}

.cover p
{
	margin-top:75px;
	font-weight:300;
	padding:15px 0;
	background:rgba(0,0,0,0.25);
}

.wrapper
{
	width:90%;
	margin:25px auto;
}

.wrapper h3
{
	font-size:2em;
}

.main
{
	width:65%;
	float:left;
}

.right
{
	width:25%;
	float:right;
}

.clearfix
{
	clear:both;
}

.footer
{
	height:10vh;
	margin-top:25px;
	background:#ccc;
	text-align:center;
	padding-top:20px;
}

dt
{
	font-size:1.5em;
	margin-top:20px;
}

.code
{
	background:#eee;
	border-left:5px solid #c0392b;
	overflow:hidden;
	height:auto;
	padding:10px;
	margin-top:5px;
}

.tab
{
	padding-left:2em;
	border-left:1px solid #666;
}

.var
{
	color:#c0392b;
	font-weight:700;
	width:auto;
}